.container{    
    background-color: #ccc;
    height: 500px;
    display: flex;

    flex-direction: row;

    flex-wrap: nowrap; 

    flex-flow: row nowrap;

    justify-content: flex-start;

    align-items: center;
}

.item{
    background-color: #333;
    columns: #fff;
    padding: 20px;
    margin: 5px;
    width: 80px;
}
